html * {
  font-family: monospace !important;
}

.title-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.title-panel {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

#sitetitle {
  order: 2;
}
