html * {
  font-family: monospace !important;
}

.title-container {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

#profilepic {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	margin-right: 15px;
}

.title-panel {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
}

#sitetitle {
	order: 2;
}

